body {
  background: var(--background-color);
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  padding: 15px;
  margin-bottom: 70px;
  border-radius: 15px;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.05);
}
main {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 20px;
}

section {
  margin-bottom: 30px;
}
